// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;
$transparent :rgba(255, 255, 255, 0);

// sidebar
$menuText: #333;
$menuActiveText: #409EFF;
$subMenuActiveText: #409EFF; // https://github.com/ElemeFE/element/issues/12951

$menuBg:linear-gradient(to right top, #f5f7f8, #ffffff);
$menuHover:#e6e6e6;

$subMenuBg: #f5f7f8;
$subMenuHover: #e6e6e6;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  transparent: $transparent;
}
